*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 150px;
    background-color: #3a7bec;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
}
header h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

.section1, .section2{
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    padding: 30px 10px;
}

.section1 .img1{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 15px;
}

.section2{
    height: 230px;
    margin: 15px 20px 15px 20px;
    padding: 30px 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: white;
}
thead{
    background-color: #3a7bec;
    color: white;
}
.th2{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.section3, .section4{
    height: 390px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px 20px 15px 20px;
    border-radius: 10px;
    padding: 30px 10px;
}

.section4{
    height: 500px;
}

form{
    margin: 0 auto;
    width: 600px;
    /* background-color: #3a7bec; */
}
.in-sec3, select{
    height: 35px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
}
.in-sec3-file{
     height: 35px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 5px 0;
}
select{
    padding: 0px 5px;
}

#file{
    padding: 5px;
}
.btn{
    height: 35px;
    width: 70px;
    background-color: #3a7bec;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.male{
    margin-right: 15px;
}
.gender{
    margin-bottom: 5px!important;
}
.g-redio{
    margin: 10px 0px;
}
.checkbox{
    margin: 0px 5px 0px 10px;
}
.checkbox1{
    margin: 0px 5px 0px 0px;
}
#message{
    height: 100px;
}
.ad-table{
    margin: 0px 0px 15px 0px;
}

.box{
    /* height: 150px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px 20px 15px 20px;
    border-radius: 10px;
    padding: 30px 200px 30px;
}

.section5{
    height: 350px;
    margin: 0px 20px;
    background-image: url(https://www.wearegecko.co.uk/media/50316/mountain-3.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: calc(2); */
    padding: 50px;
    border: 3px dashed red;
    /* background: url(https://www.wearegecko.co.uk/media/50316/mountain-3.jpg) no-repeat center center / cover; */
}
.section5 ul{
    padding-left: 50px;
    margin-top: 20px;
}
.section5 li{
    color: red;
    font-size: 18px;
    margin-bottom: 10px;
}
.link-style{
    margin: 20px 20px;
    color: blue;
    text-decoration: none;
}
.link-style:hover{
    color: red;
    text-decoration: underline;
}